.delete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 32px;
}

.delete-figure {
    background: #FEF9C3;
    border: 7px solid #FEFCE8;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        height: 26px;
        width: 26px;
        color: #854D0E;
    }
}

.delete-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: #1F2937;
    }

    &__paragraph {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #6B7280;
    }
}

.delete-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    &__button {
        height: 38px;
        width: 72px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
    }

    &--cancel {
        box-shadow: 0px 1px 2px 0px #0000000D;
        background: #FFFFFF;
        border: 1px solid #E5E7EB;
    }

    &--cancel:active {
        background: #dadada;
    }

    &--delete {
        background: #2563EB;
        color: #FFFFFF;
        border: transparent;
    }

    &--delete:active {
        background: #1e50bd;
        color: #ebe8e8;
    }
}